@import "index.scss";

::selection {
    background: #c9216c!important;
    color: #fff!important;
}

::marker {
    color: #c9216c;
}

body {
    scroll-behavior: smooth;
}

h1, h2, h3, p, ul li {
    font-family: 'Nunito', Arial, sans-serif!important;
    font-weight: 600;
    text-rendering: optimizeSpeed;
}

p, ul li {
    font-size: 1.2em;
    line-height: 1.4285em;
}

.center {
    text-align: center;
}

/* COOKIES */
a.cookies {
    color: #ffa1cb;
    font-weight: 700;
}

a.cookies:hover {
    color: #d376a0;
    transition: 0.4s ease;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 14px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 0px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 0px;
    background-color: #c9216c;
    background-image: -webkit-linear-gradient(90deg, #c9216c, #f04d2d);
}


/* ENCABEZADOS */
h1 {
    font-size: 1.5em;
    line-height: 1.1em!important;

    &:last-child {
        margin-top: -30px;
    }
}

h2.text-gradient {
    text-transform: uppercase;
    font-size: 45px!important;
    line-height: 55px;
    font-weight: 800;
}

.text-gradient {
    background-image: linear-gradient(to left, #c9216c, #f04d2d);     
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

h3 {
    font-size: 1.5em;
}

/* BOTONES */
a.btn.btn-primary, .button-blog {
    display: inline-block;
    background: #f04d2d;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--coral, #f04d2d), var(--fucsia, #c9216c) 51%, var(--coral, #f04d2d)) var(--x, 0)/ 200%!important;
    color: #fff!important;
    border: none;
    transition: .3s;
    cursor: pointer;
    padding: 1.2em;
    margin: 0 1.3em 1em 0;
    border-radius: 3em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    letter-spacing: 0.2em;
    box-shadow: 0 0 20px #eee;
    &:hover { --x: 100%; }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #c9216c;
}


/* GLOBAL CARDS */
.card-special {
    margin-bottom: 2em!important;
    width: 100%!important;

    .row {
        margin: 15px 0;
    }

    &__header {
        background-image: linear-gradient(to left, #f04d2d, #c9216c);
        padding: 10px;
        display: flex;
        justify-content: space-between;

        &__item {
            img {
                width: 50%;
            }
        }

        .item-1 {
            width: 20%;
        }

        .item-2 {
            width: 80%;
        }

        h3 {
            color: #fff;
            font-size: 16px!important;
            text-align: right;
            padding-right: 10px;
        }
    }

    i {
        color: #000;
    }
}

/* GLOBAL PAGES */
.page404 {
    padding: 10em 0;
}

.content {
    padding: 2em 0;

    a {
        color: #c9216c;

        &:hover {
            color: #f45fa2;
            transition: 0.4s ease;
        }
    }
}