.hero {
    background-image: url('../../images/holo-background.svg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6em;

    .container {
        padding: 0!important;
    }

    .profile {
        text-align: right;
    }

    &__info {
        padding: 3em;
        width: 100%!important;
        align-self: center;

        p {
            font-family: 'Italiana', sans-serif!important;
            font-size: 2.5rem;
        }
    }

    &__title {
        font-size: 4rem;

        @include bp(md) {
            font-size: 3rem;
        }
    }
}