.contact-background {
    background-color: #EBEBEB;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    padding: 5em 4em;
    text-align: center;

    h2 {
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
    }

    .btn-primary {
        margin: auto;
    }

    img {
        width: 20%;
        display: block;
        margin: auto;
    }
}