.post {
    padding: 5em 0;

    h1 {
        font-size: 5em;
        margin-bottom: 0.3em;
    }

    img {
        max-width: 100%;
        margin: 1em auto;
    }

    a {
        color: #c9216c;
        font-weight: 700;
    }

    a:hover {
        color: #eb8cb7;
        transition: 0.4s ease;
    }

    .section-post {
        margin-top: 4em;
        text-align: justify;
        &:first-child {
            margin-top: 1em;
        }
    }

    .markdown-body span {
        font-weight: bold;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 1em;


    li {
        list-style: none;
        padding: 0.5em 0;

        a {
            color: #000;
            font-weight: 700;
        }
    }

    li.is-current a {
        color: #c9216c;
    }

    .top {
        margin: 10px 0 0 40px;
    }
    
}