@import "../../sass/_mixins.scss";

.section {
    margin: 8em 0;
    height: 50vh;
    display: flex;

    &__title {
        font-family: 'Italiana', sans-serif!important;
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        @include bp(sm) {
            text-align: center;
            padding-bottom: 1rem;
        }
    }

    &__about {
        text-align: center;
        align-self: center;
    }
}

i.icon.check.square {
    cursor: default;
}

.carousel-inner {
    overflow: initial;
}

.carousel-control-next, .carousel-control-prev {
    width: 3%;
    position: absolute;
    opacity: 1;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none;
    opacity: 1;
}
.carousel-control-prev {
    left: -13px;
    @media (max-width: 767px) {
        left: -8px;
    }
    .carousel-control-prev-icon {
        background-color: #c9216c;
    }
}

.carousel-control-next {
    right: -13px;
    @media (max-width: 767px) {
        right: -8px;
    }
    .carousel-control-next-icon {
        background-color: #c9216c;
    }
}