@import "../../sass/index.scss";

section {
    padding: 4em 0;
    margin: 2em 0;
}

.skill-modules {
    border-radius: 3em;
    padding: 3em;
    margin-bottom: 2em;

    &:hover {
        transition: 0.4s;
    }
}

.languages {
    border: 1px solid $coral;
    
    &:hover {
        background-color: $coral;
    }
}

.frameworks {
    border: 1px solid $fucsia;

    &:hover {
        background-color: $fucsia;
    }
}

.software {
    border: 1px solid $fucsia;

    &:hover {
        background-color: $fucsia;
    }
}

.tools {
    border: 1px solid $coral;

    &:hover {
        background-color: $coral;
    }
}

.workgallery {
    padding: 2em 0 8em 0;
}

.work {
    border: 1px solid $indigo;
    border-radius: 3em;
    padding: 5em 5em 10em 5em;

    .business {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
}

i.icon.check.square {
    cursor: default;
}