.o-social-card {
    background-image: linear-gradient(to left, #c9216c, #f04d2d);
    width: 1200px;
    height: 628px;

    .m-social-text {
        padding: 15em 6em;
        
        .a-title {
            color: #fff;
            text-align: center;
            font-size: 3.2em;
        }
    }
    .a-image {
        margin: 2.5em auto;
        display: flex;
    }
}