.filtered-button {
    margin: 5em 0 !important;
    justify-content: center;
}

.posts-list {
    margin: 0 !important;
    justify-content: center;
    margin-bottom: 50px !important;

    &__item {
        width: 100%!important;

        &__header {
            background-image: linear-gradient(to left, #f04d2d, #c9216c);
            padding: 10px;

            img {
                width: 20%;
            }

            h2 {
                color: #fff;
                font-size: 16px!important;
                text-align: right;
                padding-right: 10px;
            }

            &__container {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}