.banner {
    background-color: #EBEBEB;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6em;

    .container {
        padding: 0!important;
    }

    .profile img {
        width: 100%;
    }

    .banner-info {
        margin: 3em 0;
        font-size: 3em;
        width: 100%!important;
    }
}